
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:#333;
}

header{
    background:#6a0dad;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    color:white;
    font-size:22px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#ffd6ff;
}

.hero{
    height:90vh;
    background:#6a0dad;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h2{
    font-size:45px;
    animation:fadeIn 2s ease-in-out;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#6a0dad;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#4b0082;
}

.section{
    padding:60px 80px;
    text-align:center;
}

.products{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:280px;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

footer{
    background:#6a0dad;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}
